html {
    overflow-y: scroll;
}

@media screen and (max-width: 770px) {
    h6 {
        font-size: 75%;
    }

    p {
        font-size: 75%;
    }
}

.card {
    margin: 10px 0px 10px 50px;
    width: auto;
}

@media screen and (max-width: 770px) {
    .card {
        width: 75vw;
    }
}

table {
    table-layout: fixed;
    margin: 0 100px 0 0;
}

th,td {
    word-wrap: break-word;
}

@media screen and (max-width: 770px) {
    table {
        margin: auto;
    }
}