.scrollable {
    height: 90vh;
    overflow-y: scroll;
}

/*Remove the scrollbar from Chrome, Safari, Edge and IE*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
  -ms-overflow-style: none !important;
}

.card {
    margin: 10px 0px 10px 50px;
    width: 35rem;
}

@media screen and (max-width: 770px) {
    .card {
        width: 75vw;
    }
}

table {
    margin: 0 50px 0 50px;
}

@media screen and (max-width: 770px) {
    table {
        margin: auto;
    }
}