<!-- Modal -->
<div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-labelledby="logout-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logout-modal-label">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-success btn-primary btn-ok" href="/users/logout">OK</a>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<% if (locals.err) { %>
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="error-modal-label">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= err %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success btn-primary btn-ok" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#error-modal").modal("show");
    });
  </script>
<% } %>

<!-- Information Modal -->
<% if (locals.msg) { %>
<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="message-modal-label">Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= msg %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success btn-primary btn-ok" data-dismiss="modal" onclick="reloadNote();">OK</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#message-modal").modal("show");
    });

    function reloadNote() {
      if (location.pathname.endsWith('/editInfo')) {
        location.href = location.href.substring(0, location.href.lastIndexOf('/'));
      }
    }
  </script>
<% } %>