<!-- Standard Navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">TCS Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li id="nav-block" class="nav-item">
          <a class="nav-link" href="/blocks/add">Block<span class="sr-only"></span></a>
        </li>
        <li id="nav-remove" class="nav-item">
          <a class="nav-link" href="/blocks/remove">Remove<span class="sr-only"></span></a>
        </li>
        <li id="nav-list" class="nav-item">
          <a class="nav-link" href="/blocks/list">List<span class="sr-only"></span></a>
        </li>
        <li id="nav-clients" class="nav-item">
          <a class="nav-link" href="/clients">Clients<span class="sr-only"></span></a>
        </li>
        <li id="nav-logout" class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#logout-modal" href="#">Logout<span class="sr-only"></span></a>
        </li>
      </ul>
        
      <% if (user.role === "admin") { %>
        <!-- User Management Dropdown -->
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
              <li class="dropdown-header">User Management</li>
              <li>
                <a class="dropdown-item" href="/users/register">Register</a>
              </li>
              <li>
                <a class="dropdown-item" href="/users/delete">Delete</a>
              </li>
              <li>
                <a class="dropdown-item" href="/users/reset">Reset Password</a>
              </li>
            </ul>
          </li>
        </ul>
      <% } %>
    </div>
  </nav>
  <script src="/public/js/navbar.js"></script>