<!DOCTYPE html>
<html>
    <head>
        <!-- include libraries(jQuery, bootstrap) -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    </head>
    <body>
        Welcome: <% user %>
    </body>
</html>


<% for(let i = 0; i < posts.length; i++) { %>
    <article>
        <h1><%= posts[i].title %></h1>
        <p><%= posts[i].body %></p>
    </article>
<% } %>