
/* BASIC */

:root {
    --dark-green: #209e30;
    --light-green: #29c23e;
}

html {
    background-color: #ffffff;
}

body {
    height: 100vh;
}

a {
    color: black;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}