/* BASIC */

:root {
    --dark-green: #209e30;
    --light-green: #29c23e;
}

body {
    padding-top: 3.5rem;
}

a {
    color: black;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}

@media screen and (max-width: 700px) {
    .display-3 {
        font-size: 2.25rem;
        font-weight: 300;
        line-height: 1.0;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.btn-success {
    background-color: var(--light-green);
    border-color: var(--light-green);
    color: white;
}

.btn-success:hover {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    color: white;
}

@media screen and (min-width: 770px) {
    .btn.down {
        position: absolute;
        left: 12px;
        top: 100%;
        margin-bottom: 50px;
    }
}