<!DOCTYPE html>
<html>
  <head>
    <%- include('../includes/header') %>
    <link rel="stylesheet" href="/public/css/clients/index.css">
  </head>
  <body>
    <main role="main">
      <%- include('../includes/navbar') %>
      <div class="row">
        <div class="col-sm-4 col-sm-push-8">
          <h1 class="display-4 text-center">Stats</h1>
          <table class="table">
            <tbody>
              <tr>
                <th>Clients</th>
                <td id="client-count">0</td>
              </tr>
              <tr>
                <th>Open Tabs</th>
                <td id="tab-count">0</td>
              </tr>
              <tr>
                <th>History Entires</th>
                <td id="history-count">0</td>
              </tr>
              <tr>
                <th>Successful Blocks</th>
                <td id="block-count">0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-8 col-sm-push-4 scrollable">
          <button class="btn btn-success btn-refresh float-right" onclick="location.reload();">⭮</button>
          <% for (var i = 0; i < clients.length; ++i) { %>
          <div class="card">
            <div class="card-header">
              <%= clients[i].ips[0] %>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <% if (clients[i].name) { %>
                  <h5 class="card-title"><%= clients[i].name %></h5>
                  <% } else { %>
                  <h5 class="card-title">Client</h5>
                  <% } %>
                  <% if (clients[i].note) { %>
                  <p class="card-text"><%= clients[i].note %></p>
                  <% } else { %>
                  <p class="card-text">No note yet.</p>
                  <% } %>
                  <a href="/clients/<%= clients[i].id %>" class="btn btn-success btn-primary">View details »</a>
                </div>
                <div class="col">
                  <p>Open Tabs: <%= clients[i].tabs.length %></p>
                  <p>History Entires: <%= clients[i].history.length %></p>
                  <p>Successful Blocks: <%= clients[i].blocks.length %></p>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </main>
    <%- include('../includes/footer') %>
  </body>
  <script>
  function refreshStats() {
    $.getJSON("/clients/stats", function (data) {
      $("#client-count").text(data.clientCount);
      $("#tab-count").text(data.tabCount);
      $("#history-count").text(data.historyCount);
      $("#block-count").text(data.blockCount);
    })
  }
  refreshStats();
  setInterval(refreshStats, 1000);
  </script>
</html>
