<!DOCTYPE html>
<html>
  <head>
    <%- include('../includes/header') %>
    <link rel="stylesheet" href="/public/css/blocks/form.css">
  </head>
  <body>
    <main role="main">
      <%- include('../includes/navbar') %>
      <div class="wrapper fade-in-down">
        <div class="form-content">
          <form class="border border-light p-5" method="POST" action="/blocks/remove">
            <div class="text-center">
              <p class="h4 mb-4 fade-in first">Block</p>
              <p class="fade-in first">Remove a URL from the Blocklist by name.</p>
              <input type="text" name="url" id="url" class="form-control mb-4 fade-in second" placeholder="http://google.com/">
              <button class="btn btn-success btn-block fade-in third" type="submit">Remove</button>
            </div>
          </form>
          <div class="form-footer">
            <a class="underline-hover" href="/blocks/list">Display Blocklist</a>
          </div>
        </div>
      </div>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>