<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Login</title>
    <%- include('../includes/header') %>
  </head>
  <body>
    <div class="wrapper fade-in-down">
      <div class="form-content">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fade-in first">
          <img src="/public/assets/logo.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form action="/login" method="POST">
          <input type="text" id="login" class="fade-in second" name="email" placeholder="email">
          <input type="password" id="password" class="fade-in third" name="password" placeholder="password">
          <input type="submit" class="fade-in fourth" value="Log In">
        </form>

        <!-- Forgot Password -->
        <div id="form-footer">
          <a class="underline-hover" href="/forgot">Forgot Password?</a>
        </div>
      </div>

      <!-- Error Display -->
      <% if (locals.err) { %>
      <div id="err" class="alert alert-danger fade-in first">
        <%- err %>
      </div>
      <% } %>

      <!-- Information Display -->
      <% if (locals.msg) { %>
      <div id="err" class="alert alert-success fadeIn first">
        <%- msg %>
      </div>
      <% } %>

    </div>
  </body>
</html>